.icon-content {
	font-size : 100px;
}

.text-icon {
	font-size : 24px;
}

.muestra {
	 list-style-type: circle;
}

 .put-dot {
    font-size: 14px;
    margin-left: 10px;
    list-style-type: disc;
 }